.guide-container {
    /*background-image: 'public/business/.jpeg.jpg';Path to your background image */
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: white; /* Adjust text color for better contrast */
  }
  
  .guide-section {
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: add background color for readability */
    padding: 20px;
    border-radius: 8px;
  }
  
  .guide-content {
    margin: 0;
  }
  
  .guide-image {
    display: none; /* Ensure no additional images are displayed */
  }