.talkies {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

.video-player {
  margin-bottom: 20px;
  width: 560px;
  height: 315px;
}

.thumbnail-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
}

.thumbnail-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.thumbnail-image {
  margin-top: 10px;
  width: 300px; /* Adjust size as needed */
  height: 300px; /* Adjust size as needed */
  object-fit: cover;
  margin-bottom: 10px;
}

.thumbnail-item h2 {
  font-size: 1em;
  text-align: center;
}